.mixin.out/
crash-reports/
fonts/
journeymap/
libraries/
llibrary/
local/
logs/
resourcepacks/
saves/
screenshots/
server-resource-packs/
snapshots-server/
WCalarms/
backups/
schematics/
resources/
dumps/
stall-reports/
TombManyGraves/
shaderpacks/

OpenComputersMod-1.7.3.146-lua52-native.64.dll
OpenComputersMod-1.7.3.146-lua53-native.64.dll

.ReAuth.cfg
.curseclient
minecraftinstance.json
usercache.json
usernamecache.json
crafttweaker.log
icon.png
knownkeys.txt

/mods
