# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmPause=60
    S:allowedAlarms=default,sci-fi,siren
    B:disableRangeCheck=false

    # Min: 0
    # Max: 256
    I:howlerAlarmRange=64

    # Min: 0
    # Max: 2000
    I:infoPanelRefreshPeriod=20

    # Min: 0
    # Max: 256
    I:maxAlarmRange=128

    # Min: 0
    # Max: 2000
    I:rangeTriggerRefreshPeriod=20
    I:remoteThermalMonitorEnergyConsumption=1
    B:showOreInfo=true

    # Min: 0
    # Max: 2000
    I:thermalMonitorRefreshPeriod=20
    B:useCustomSounds=false
    B:wsEnabled=false
    S:wsHost=
    I:wsPort=0
    I:wsRefreshRate=100
    S:wsServerID=ed6555d1-66dd-4dc0-844f-48c1f39ca5e0
    S:wsToken=78c2b80a-1203-43fd-a9af-75cec29f5acf
}


