# Configuration file

aluminium {
    S:color=0xaab5b5
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Iron
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


amber {
    S:color=0x935c14
    D:energyModifier=1.0
    S:extra=Amber
    S:extra2=Amber
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


amethyst {
    S:color=0x4c1e51
    D:energyModifier=1.0
    S:extra=Amethyst
    S:extra2=Amethyst
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


apatite {
    S:color=0x3a9cdc
    D:energyModifier=1.0
    S:extra=Apatite
    S:extra2=Apatite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


aquamarine {
    S:color=0x14a4fc
    D:energyModifier=1.0
    S:extra=Aquamarine
    S:extra2=Aquamarine
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


astral_starmetal {
    B:charcoalPitAdvanced=false
    S:color=0x4467d8
    D:energyModifier=1.0
    S:extra=AstralStarmetal
    S:extra2=AstralStarmetal
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


boron {
    B:charcoalPitAdvanced=false
    S:color=0x565656
    D:energyModifier=1.0
    S:extra=Boron
    S:extra2=Boron
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


carnallite {
    D:energyModifier=1.0
    S:extra=Carnallite
    S:extra2=Carnallite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


coal {
    S:color=0x1c1c1c
    D:energyModifier=1.0
    S:extra=Coal
    S:extra2=Coal
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


cobalt {
    B:charcoalPitAdvanced=false
    S:color=0x4088d3
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Iron
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


copper {
    S:color=0xc17f55
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Gold
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


dewalquite {
    D:energyModifier=1.0
    S:extra=Dewalquite
    S:extra2=Dewalquite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


diamond {
    S:color=0x76decc
    D:energyModifier=1.0
    S:extra=Diamond
    S:extra2=Diamond
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


dilithium {
    S:color=0xb6aaa7
    D:energyModifier=1.0
    S:extra=Dilithium
    S:extra2=Dilithium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


draconium {
    B:charcoalPitAdvanced=false
    S:color=0xd6acf6
    D:energyModifier=1.0
    S:extra=Draconium
    S:extra2=Draconium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


emerald {
    S:color=0x48d25
    D:energyModifier=1.0
    S:extra=Emerald
    S:extra2=Emerald
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


fluorapatite {
    D:energyModifier=1.0
    S:extra=Fluorapatite
    S:extra2=Fluorapatite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


gold {
    S:color=0x4e4e04
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Gold
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


iridium {
    B:charcoalPitAdvanced=false
    S:color=0x9c9b91
    D:energyModifier=1.0
    S:extra=Iridium
    S:extra2=Iridium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


iron {
    S:color=0x545454
    D:energyModifier=1.0
    S:extra=Nickel
    S:extra2=Nickel
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


jaopca {
    B:dust=true
    B:gem=true
    B:gem_oreless=false
    B:ingot=true
    B:ingot_oreless=false
    S:moduleBlacklist <
     >
    S:orePreference <
     >

    # Set to true to reload color configs.
    B:reloadColorConfigs=false
}


lapis {
    S:color=0x204ca4
    D:energyModifier=1.0
    S:extra=Lapis
    S:extra2=Lapis
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


lead {
    S:color=0xa5a9a8
    D:energyModifier=1.0
    S:extra=Silver
    S:extra2=Silver
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


lithium {
    B:charcoalPitAdvanced=false
    S:color=0xbababa
    D:energyModifier=1.0
    S:extra=Lithium
    S:extra2=Lithium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


magnesium {
    B:charcoalPitAdvanced=false
    S:color=0x9b899b
    D:energyModifier=1.0
    S:extra=Magnesium
    S:extra2=Magnesium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


magnetite {
    S:color=0x717176
    D:energyModifier=1.0
    S:extra=Magnetite
    S:extra2=Magnetite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


malachite {
    S:color=0xc8ecdc
    D:energyModifier=1.0
    S:extra=Malachite
    S:extra2=Malachite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


mithril {
    B:charcoalPitAdvanced=false
    S:color=0x5999ab
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Gold
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


nickel {
    S:color=0xd3d3b4
    D:energyModifier=1.0
    S:extra=Nickel
    S:extra2=Nickel
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


nikolite {
    S:color=0x44c4c
    D:energyModifier=1.0
    S:extra=Nikolite
    S:extra2=Nikolite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


osmium {
    S:color=0x7a99a0
    D:energyModifier=1.0
    S:extra=Osmium
    S:extra2=Osmium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


peridot {
    S:color=0xa9ce84
    D:energyModifier=1.0
    S:extra=Peridot
    S:extra2=Peridot
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


platinum {
    S:color=0x779eb7
    D:energyModifier=1.0
    S:extra=Iridium
    S:extra2=Iridium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


quartz {
    S:color=0x5c4c3c
    D:energyModifier=1.0
    S:extra=Quartz
    S:extra2=Quartz
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


quartz_black {
    S:color=0x141414
    D:energyModifier=1.0
    S:extra=QuartzBlack
    S:extra2=QuartzBlack
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


redstone {
    S:color=0x4c0404
    D:energyModifier=1.0
    S:extra=Redstone
    S:extra2=Redstone
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


ruby {
    S:color=0x490c19
    D:energyModifier=1.0
    S:extra=Ruby
    S:extra2=Ruby
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


sapphire {
    S:color=0x368cb4
    D:energyModifier=1.0
    S:extra=Sapphire
    S:extra2=Sapphire
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


silver {
    S:color=0xd3dadc
    D:energyModifier=1.0
    S:extra=Lead
    S:extra2=Lead
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


tanzanite {
    S:color=0xa969e1
    D:energyModifier=1.0
    S:extra=Tanzanite
    S:extra2=Tanzanite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


thorium {
    B:charcoalPitAdvanced=false
    S:color=0x2c2c2c
    D:energyModifier=1.0
    S:extra=Thorium
    S:extra2=Thorium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


tin {
    S:color=0x95a4ad
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Iron
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


titanium {
    S:color=0x64465c
    D:energyModifier=1.0
    S:extra=Titanium
    S:extra2=Titanium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


topaz {
    S:color=0xf8ceb6
    D:energyModifier=1.0
    S:extra=Topaz
    S:extra2=Topaz
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


tungsten {
    B:charcoalPitAdvanced=false
    S:color=0x222222
    D:energyModifier=1.0
    S:extra=Tungsten
    S:extra2=Tungsten
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


uranium {
    B:charcoalPitAdvanced=false
    S:color=0x587652
    D:energyModifier=1.0
    S:extra=Uranium
    S:extra2=Uranium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


zinc {
    S:color=0xa19d97
    D:energyModifier=1.0
    S:extra=Zinc
    S:extra2=Zinc
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


